@import url("https://fonts.googleapis.com/css2?family=Kite+One&display=swap");
@import "tailwindcss";

#root {
  margin: auto;
}
body,
html {
  background-color: #0f1c2e;
  margin: 0;
  padding: 0;
  min-height: 100%;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Kite One", sans-serif;
}
